<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<form action="/mail-form/send" method="post" name="form">
	Subject: <input type="text" name="mail_subject" required>
	Name: <input type="text" name="mail_body" required>
	<button type="submit">submit</button>
</form>


</body>
</html>