<!DOCTYPE html>
<html>

    <head>

    <link rel="stylesheet" type="text/css" href="css/mail-form.css">
    </head>

    <body>
        <form id="contact" method="post">
          <div class="mailform-distributed">
              <div class="mailform-left">
          <div class="mmm">             
                <h3>Mail Settings</h3>
                <br>
                <fieldset>
                    <a>Mail Subject : </a> 
                    <input  name="mailSubjectFormInput" type="text" required>
                </fieldset>                
                <fieldset id="salutationid">
                    <a style="display: block;margin: 0; margin-bottom: 2px;">Salutation : </a>
                    <input name="mailSalutationFormInput" type="text" required>
                    <a>+ Receiver Name</a>
                    <p>eg: Dear John, Hello Annie</p>
                </fieldset>
                <fieldset>
                    <a>Mail Content : </a>
                    <textarea  name="mailBodyFormInput" required></textarea>
                </fieldset>
<!--                 <fieldset id="attachementid">
                    <input type="file" name="mailAttachementFormInput">
                </fieldset> -->
          </div>
              </div>
              <div class="mailform-right">
          <div class="mmm" id="contact">  
                <h3>Sending Options</h3>
                <br>
                <fieldset>
                    <a>Test Mail : </a>
                    <input  name="testMailFormInput" type="text">
                </fieldset>
                <fieldset>
                    <button type="submit" formaction="/mail-form/testmail">Test</button>
                </fieldset>
                <fieldset>
                    <a>Database Name : </a>
                    <input  name="" type="text">
                </fieldset> 
                <fieldset>
                    <a>Table Name : </a>
                    <input  name="" type="text">
                </fieldset>        
                <fieldset>
                    <button type="submit" formaction="/mail-form/send">Send</button>
                </fieldset>             
          </div>
              </div>
          </div>
        </form>
    </body>
</html>
